<article>
    <header class="section background-primary text-center">
        <h1 class="text-white margin-bottom-0 text-size-50 text-thin text-line-height-1">Contáctanos</h1>
    </header>
    <div class="section background-fondo">
        <div class="line">
            <div class="margin">

                <!-- Company Information -->
                <div class="s-12 m-12 l-6 center">
                    <h2 class="text-uppercase text-strong margin-bottom-30">Información de Tus botanas</h2>
                    <div class="float-left">
                        <i class="icon-placepin background-primary icon-circle-small text-size-20"></i>
                    </div>
                    <div class="margin-left-80 margin-bottom">
                        <h4 class="text-strong margin-bottom-0">Dirección</h4>
                        <p>Av Taxqueña 1891 F-108<br> CDMX
                            <br> MX, Europe
                        </p>
                    </div>
                    <div class="float-left">
                        <i class="icon-paperplane_ico background-primary icon-circle-small text-size-20"></i>
                    </div>
                    <div class="margin-left-80 margin-bottom">
                        <h4 class="text-strong margin-bottom-0">E-mail</h4>
                        <p>contacto@tusbotanas.com<br> luis@tusbotnas.com
                        </p>
                    </div>
                    <div class="float-left">
                        <i class="icon-smartphone background-primary icon-circle-small text-size-20"></i>
                    </div>
                    <div class="margin-left-80">
                        <h4 class="text-strong margin-bottom-0">Teléfonos</h4>
                        <p>5616700931<br> 5616700931
                            <br> 5616700931
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
<!-- MAP -->
<div class="s-12 grayscale center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.73524214018!2d-99.1247711850948!3d19.337291686938535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce01e065c009b5%3A0x72cbb469eebec1d!2sCalz%20Taxque%C3%B1a%201891%2C%20San%20Francisco%20Culhuacan%20de%20Sta%20Ana%2C%20Coyoac%C3%A1n%2C%2004260%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses!2smx!4v1590717911102!5m2!1ses!2smx"
        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>