<div class="top-bar background-white">
  <div class="line">
    <div class="s-12 m-6 l-6">
      <div class="top-bar-contact">
        <p class="text-size-12">
          Contactanos: 5538092303 |
          <!--<a class="text-orange-hover" href="mailto:contacto@gmodular.com.mx"
            >contacto@gmodular.com.mx</a
          >-->
        </p>
      </div>
    </div>
    <!--<div class="s-12 m-6 l-6">
      <div class="right">
        <ul class="top-bar-social right">
          <li>
            <a href="https://www.facebook.com/" target="_blank"
              ><i class="icon-facebook_circle text-orange-hover"></i
            ></a>
          </li>
          <li>
            <a href="/"
              ><i class="icon-discussion aria-hidden=true text-orange-hover"></i
            ></a>
          </li>
          <li>
            <a href="/"
              ><i class="icon-instagram_circle text-orange-hover"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>-->
  </div>
</div>
