<article>
  <header class="section background-primary text-center">
    <h1
      class="text-white margin-bottom-0 text-size-50 text-thin text-line-height-1"
    >
      Valores
    </h1>
  </header>
  <div class="section background-fondo">
    <div class="line">
      <!--<h2 class="text-size-30">Nuestros valores</h2>-->
      <h2>
        Nuestros valores son parte fundamental de nuestro equipo de trabajo
      </h2>
      <h3>Lealtad</h3>

      <h3>Responsabilidad</h3>
      <h3>Transparencia</h3>
      <h3>Puntualidad</h3>
      <h3>Resolución</h3>
    </div>
  </div>
</article>
