<article>
  <header class="section background-primary text-center">
    <h1
      class="text-white margin-bottom-0 text-size-50 text-thin text-line-height-1"
    >
      Valores
    </h1>
  </header>
  <div class="section background-fondo">
    <div class="line">
      <h2 class="text-size-30">Nuestros valores</h2>
      <h2>
        Nuestros valores son parte fundamental de nuestro equipo de trabajo
      </h2>
      <h3>Lealtad</h3>
      <p class="margin-bottom-30">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat veniam
        tempore nemo in, magnam molestiae. Eligendi atque repellat veniam iusto,
        amet iure eos voluptas maxime, dignissimos odio rem minima quibusdam!
      </p>
      <h3>Responsabilidad</h3>
      <p class="margin-bottom-30">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
        dolore soluta quae, sint sit eligendi aperiam veritatis veniam magni
        labore distinctio reprehenderit velit vero voluptas quidem nihil
        exercitationem laboriosam at?
      </p>
      <h3>Transparencia</h3>
      <p class="margin-bottom-30">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum hic,
        velit quam a sed eligendi at nesciunt quibusdam deleniti aut, nisi
        numquam possimus quo minus ad facilis accusantium dolore soluta.
      </p>
      <h3>Puntualidad</h3>
      <p class="margin-bottom-30">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit harum
        expedita asperiores soluta id, rem optio dolore cupiditate quam iure hic
        ipsum voluptate eos omnis velit excepturi sint aliquam ab.
      </p>
      <h3>Resolución</h3>
    </div>
  </div>
</article>
