<article>
    <header class="section background-primary text-center">
        <h1 class="text-white margin-bottom-0 text-size-50 text-thin text-line-height-1">Tus botanas</h1>
    </header>
    <div class="section background-fondo">
        <div class="line">
            <h2 class="text-size-30">Valores</h2>
            <h3>HONESTIDAD</h3>
            <p class="margin-bottom-30">
                Reflejar la verdad de nuestro servicio y producto en donde se transmita la comunicación adecuada y clara para tener la entera satisfacción de nuestros clientes.
            </p>
            <h3>HONRADEZ</h3>
            <p class="margin-bottom-30">
                Hacer la labor de venta adecuada y sincera por parte de nuestros vendedores para dejar claro que nuestros clientes tendrán el producto que ellos demanden en cada una de sus compras.
            </p>
            <h3>COMPROMISO</h3>
            <p class="margin-bottom-30">
                Tener la labor de cumplir con lo pactado con nuestros clientes comerciales para seguir en la línea de las visitas semanales y se cumpla con el compromiso de dar la atención de venta y la rotación de nuestros productos que no sean vendidos cuando se requiera
                , para evitar cualquier tipo de perdida hacia nuestros clientes.
            </p>
            <h3>RESPETO</h3>
            <p class="margin-bottom-30">
                Buscar los canales de comunicación adecuados para satisfacer la calidad de servicio hacia nuestros clientes, manejándonos siempre a través del buen trato, cortesía y amabilidad en cada una de nuestras visitas.
            </p>
        </div>
    </div>
</article>