<article>
    <header class="section background-primary text-center">
        <h1 class="text-white margin-bottom-0 text-size-50 text-thin text-line-height-1">Tus botanas</h1>
    </header>
    <div class="section background-fondo">
        <div class="line">
            <h2 class="text-size-30">Finalidad</h2>
            <p>
                Queremos contribuir directamente al enfoque del crecimiento comercial de cada uno de nuestros socios comerciales, atacando la mala imagen y concepto por el cual se tiene como referencia al botanero tradicional, dando así un cambio de enfoque de lo informal
                a lo formal, para que a su vez terminemos convirtiéndonos en ese proveedor profesional de botanas de su entera confianza, garantizando la inversión inicial de nuestros socios comerciales a través de evitar algún tipo de perdida tanto en
                lo económico, como en producto.
            </p>
        </div>
    </div>
</article>