<article>
  <header class="section background-primary text-center">
    <h1
      class="text-white margin-bottom-0 text-size-50 text-thin text-line-height-1"
    >
      Quiénes Somos
    </h1>
  </header>
  <div class="section background-fondo">
    <div class="line">
      <h2 class="text-size-30">Quiénes Somos</h2>
      <p>
        Ge modular presentes en el mercado desde hace 15 años comprometidos con
        las necesidades de cada uno de nuestros clientes brindándoles un espacio
        móvil personalizado de forma más rápida, temporal o permanente.
      </p>
    </div>
  </div>
</article>
