<article>
  <header class="section background-primary text-center">
    <h1
      class="text-white margin-bottom-0 text-size-50 text-thin text-line-height-1"
    >
      Finalidad
    </h1>
  </header>
  <div class="section background-fondo">
    <div class="line">
      <h2 class="text-size-30">Finalidad</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
        ducimus facilis culpa dignissimos maiores dicta, tempora architecto
        saepe tenetur eligendi quibusdam, at sit velit nam eius earum quas
        aperiam et!
      </p>
    </div>
  </div>
</article>
