<article>
    <header class="section background-primary text-center">
        <h1 class="text-white margin-bottom-0 text-size-50 text-thin text-line-height-1">Tus botanas</h1>
    </header>
    <div class="section background-fondo">
        <div class="line">
            <h2 class="text-size-30">Visión</h2>
            <p>
                Ser la primera empresa mexicana de botanas reconocida por satisfacer en su totalidad a nuestros clientes comerciales y a su vez al consumidor final a través del sabor, la presentación de nuestros productos y con el servicio de excelencia en las visitas
                en cada uno de nuestros puntos de venta, fijando como principal motor el abarcar la mayor cantidad de clientes dentro de nuestro mercado comercial y ser reconocidos como una empresa de botanas seria y profesional.
            </p>
        </div>
    </div>
</article>