<article>
  <header class="section background-primary text-center">
    <h1
      class="text-white margin-bottom-0 text-size-50 text-thin text-line-height-1"
    >
      Visión
    </h1>
  </header>
  <div class="section background-fondo">
    <div class="line">
      <h2 class="text-size-30">Visión</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus
        nobis numquam eius ut deleniti vel suscipit, corporis alias voluptates
        exercitationem esse voluptatibus amet illo accusamus doloribus nulla.
        Voluptas, temporibus tempora!
      </p>
    </div>
  </div>
</article>
