<section class="section background-dark">
    <div class="line">
        <div class="margin">
            <!-- Collumn 1 -->
            <div class="s-12 m-12 l-6 margin-m-bottom-2x">
                <h4 class="text-uppercase text-strong">Nuestra filosofia</h4>
                <p class="text-size-20"><em>"Ofrecer un producto de calidad para servir mejor a nuestros consumidores"</em>
                    <p>

                        <div class="line">
                            <h4 class="text-uppercase text-strong margin-top-30">Acerca de la compañia</h4>
                            <div class="margin">
                                <div class="s-12 m-12 l-4 margin-m-bottom">
                                    <a class="image-hover-zoom" href="/"><img src="./assets/libs/img/blog-04.jpg" alt=""></a>
                                </div>
                                <div class="s-12 m-12 l-8 margin-m-bottom">
                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
                                    <!-- <a class="text-more-info text-primary-hover" href="/">Leer mas</a> -->
                                </div>
                            </div>
                        </div>
            </div>

            <!-- Collumn 2 -->
            <div class="s-12 m-12 l-6 margin-m-bottom-2x">
                <h4 class="text-uppercase text-strong">Contactanos</h4>
                <div class="line">
                    <div class="s-1 m-1 l-1 text-center">
                        <i class="icon-placepin text-primary text-size-12"></i>
                    </div>
                    <div class="s-11 m-11 l-11 margin-bottom-10">
                        <p><b>Dirección:</b> Av Taxqueña 1891 F-108, CDMX, MX</p>
                    </div>
                </div>
                <div class="line">
                    <div class="s-1 m-1 l-1 text-center">
                        <i class="icon-mail text-primary text-size-12"></i>
                    </div>
                    <div class="s-11 m-11 l-11 margin-bottom-10">
                        <p><a href="mailto:contacto@tusbotanas.com" class="text-primary-hover"><b>E-mail:</b> contacto@tusbotanas.com</a></p>
                    </div>
                </div>
                <div class="line">
                    <div class="s-1 m-1 l-1 text-center">
                        <i class="icon-smartphone text-primary text-size-12"></i>
                    </div>
                    <div class="s-11 m-11 l-11 margin-bottom-10">
                        <p><b>Teléfono:</b> 5616700931</p>
                    </div>
                </div>
                <div class="line">
                    <div class="s-1 m-1 l-1 text-center">
                        <i class="icon-facebook text-primary text-size-12"></i>
                    </div>
                    <div class="s-11 m-11 l-11">
                        <p><a href="https://www.facebook.com/Tus-botanas-114615166914682" target="_blank" class="text-primary-hover"><b>Facebook</b></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="break margin-top-bottom-0" style="border-color: rgba(0, 38, 51, 0.80);">