<article>
    <header class="section background-primary text-center">
        <h1 class="text-white margin-bottom-0 text-size-50 text-thin text-line-height-1">Tus botanas</h1>
    </header>
    <div class="section background-fondo">
        <div class="line">
            <h2 class="text-size-30">Misión</h2>
            <p>
                Poner a disposición de nuestros socios comerciales la gama de productos de alta calidad, que garanticen frescura y sabor, sin dejar de lado la sana alimentación hacia el consumidor final. Sumado a los productos, brindar la atención y servicio de excelencia
                con visitas semanales de cada uno de nuestros colaboradores, proporcionando a nuestros clientes además de un buen precio y una imagen de calidad en el empaque, el valor agregado más importante que tenemos: la rotación de producto, donde
                se garantiza que no habrá ningún tipo de perdida en la inversión de nuestros socios comerciales. Así mismo buscamos obtener como resultado la madurez de venta de cada uno de nuestros clientes.
            </p>
        </div>
    </div>
</article>