<article>
  <header class="section background-primary text-center">
    <h1
      class="text-white margin-bottom-0 text-size-50 text-thin text-line-height-1"
    >
      Misión
    </h1>
  </header>
  <div class="section background-fondo">
    <div class="line">
      <!--<h2 class="text-size-30">Misión</h2>-->
      <p>
        Comprometidos con ofrecer productos de calidad enfocados a la
        fabricación, venta y renta de oficinas móviles, baños móviles, aulas,
        edificios etc.
      </p>
    </div>
  </div>
</article>
