<article>
  <header class="section background-primary text-center">
    <h1
      class="text-white margin-bottom-0 text-size-50 text-thin text-line-height-1"
    >
      Misión
    </h1>
  </header>
  <div class="section background-fondo">
    <div class="line">
      <h2 class="text-size-30">Misión</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere
        laudantium a deleniti rerum repudiandae dolores blanditiis est soluta,
        maxime earum minima. Nesciunt minus temporibus obcaecati reprehenderit
        nam voluptas voluptatum modi?
      </p>
    </div>
  </div>
</article>
