<section class="section background-fondo">
    <div class="line">
        <div class="margin">
            <div class="s-12 m-12 l-4 margin-m-bottom" *ngFor="let botana of botanas">
                <a class="text-more-info text-primary-hover" [routerLink]="['/botana', botana.id]">
                    <img class="margin-bottom" [src]="botana.img" [alt]="botana.titulo">
                </a>
                <h2 class="text-thin">{{ botana.titulo }}</h2>
                <p>{{ botana.descripcion | slice:0:30 }}</p>
            </div>
        </div>
    </div>
</section>

<section class="section background-primary text-center">
    <div class="line">
        <div class="s-12 m-10 l-8 center">
            <h2 class="headline text-thin text-s-size-30">Estamos preparando las mejores botanas</h2>
            <p class="text-size-20">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
        </div>
    </div>
</section>

<hr class="break margin-top-bottom-0">