<section class="section background-fondo">
    <div class="line">
        <div class="margin">
            <div class="s-12 m-12 l-4 margin-m-bottom">
                <a class="text-more-info text-primary-hover" href="cacahuates.html">
                    <img class="margin-bottom" src="./assets/libs/img/tus_cacahuates_imagen.jpg" alt="cacahuates">
                </a>
                <h2 class="text-thin">Tus Cacahuates</h2>
                <p>La mejor variedad de cacahuates.</p>
            </div>
            <div class="s-12 m-12 l-4 margin-m-bottom">
                <a class="text-more-info text-primary-hover" href="combinaciones.html">
                    <img class="margin-bottom" src="./assets/libs/img/tus_combinaciones_imagen.jpg" alt="combinaciones">
                </a>
                <h2 class="text-thin">Tus Combinaciones</h2>
                <p>Mezcla de diferentes tipos de cacahuates, churritos, semillas.</p>
            </div>
            <div class="s-12 m-12 l-4 margin-m-bottom">
                <a class="text-more-info text-primary-hover" href="semillas.html">
                    <img class="margin-bottom" src="./assets/libs/img/tus_semillas_imagen.jpg" alt="semillas">
                </a>
                <h2 class="text-thin">Tus Semillas</h2>
                <p>Semillas saladas y picosas, super frescas y crujientes.</p>
            </div>
        </div>
        <br>
        <div class="margin">
            <div class="s-12 m-12 l-4 margin-m-bottom">
                <a class="text-more-info text-primary-hover" href="gomitas.html">
                    <img class="margin-bottom" src="./assets/libs/img/tus_gomitas_clasicas_imagen.jpg" alt="gomitas">
                </a>
                <h2 class="text-thin">Tus Gomitas</h2>
                <p>Las mejor variedad de gomitas.</p>
            </div>
            <div class="s-12 m-12 l-4 margin-m-bottom">
                <a class="text-more-info text-primary-hover" href="gomitas.html">
                    <img class="margin-bottom" src="./assets/libs/img/tus_gomitas_dluxe_imagen.jpg" alt="gomitas">
                </a>
                <h2 class="text-thin">Tus Gomitas Gourmet</h2>
                <p>Las mejor variedad de gomitas.</p>
            </div>
            <div class="s-12 m-12 l-4 margin-m-bottom">
                <a class="text-more-info text-primary-hover" href="chocolates.html">
                    <img class="margin-bottom" src="./assets/libs/img/tus_chocolates_imagen.jpg" alt="chocolates">
                </a>
                <h2 class="text-thin">Tus Chocolates</h2>
                <p>Vaiedad de chocolates (amargos, dulces...).</p>
            </div>
        </div>
        <br>
        <div class="margin">
            <div class="s-12 m-12 l-4 margin-m-bottom">
                <a class="text-more-info text-primary-hover" href="sana.html">
                    <img class="margin-bottom" src="./assets/libs/img/tus_botanas_sanas.jpg" alt="botana sana">
                </a>
                <h2 class="text-thin">Botana Sana</h2>
                <p>Las mejor variedad de botana sana.</p>
            </div>

            <div class="s-12 m-12 l-4 margin-m-bottom">
                <a class="text-more-info text-primary-hover" href="galletas.html">
                    <img class="margin-bottom" src="./assets/libs/img/tus_galletas_imagen.jpg" alt="galletas">
                </a>
                <h2 class="text-thin">Tus Galletas</h2>
                <p>Las mas grande variedad dericas galletas.</p>
            </div>
            <div class="s-12 m-12 l-4 margin-m-bottom">
                <a class="text-more-info text-primary-hover" href="churritos.html">
                    <img class="margin-bottom" src="./assets/libs/img/tus_churritos_imagen.jpg" alt="churritos">
                </a>
                <h2 class="text-thin">Tus Churritos</h2>
                <p>Los más crujietes churritos.</p>
            </div>
        </div>
        <br>
        <div class="margin">
            <div class="s-12 m-12 l-4 margin-m-bottom">
                <a class="text-more-info text-primary-hover" href="gold.html">
                    <img class="margin-bottom" src="./assets/libs/img/gold.jpg" alt="gold">
                </a>
                <h2 class="text-thin">Tu botana gold</h2>
                <p>La botana gold.</p>
            </div>
        </div>
    </div>
</section>