<nav class="background-botanas">
    <div class="line">
        <div class="s-12 l-2">
            <a [routerLink]="['home']" class="logo"><img src="./assets/libs/img/logo.png" alt=""></a>
        </div>
        <div class="top-nav s-12 l-10">
            <p class="nav-text"></p>
            <ul class="right chevron">
                <li>
                    <a [routerLink]="['home']">Inicio</a>
                </li>
                <li>
                    <a [routerLink]="['finalidad']">Finalidad</a>
                </li>
                <li><a [routerLink]="['mision']">Misión</a></li>
                <li><a [routerLink]="['vision']">Visión</a></li>
                <li><a [routerLink]="['valores']">Valores</a></li>
                <li><a [routerLink]="['contacto']">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>