<nav class="background-botanas">
  <div class="line">
    <div class="s-12 l-2">
      <a [routerLink]="['home']" class="logo"
        ><img src="./assets/libs/img/logogmodular.png" alt=""
      /></a>
    </div>
    <div class="top-nav s-12 l-10">
      <p class="nav-text"></p>
      <ul class="right chevron">
        <!-- active-item -->
        <li routerLinkActive="active-item">
          <a [routerLink]="['home']">Inicio</a>
        </li>
        <li routerLinkActive="active-item">
          <a [routerLink]="['finalidad']">Finalidad</a>
        </li>
        <li routerLinkActive="active-item">
          <a [routerLink]="['mision']">Misión</a>
        </li>
        <li routerLinkActive="active-item">
          <a [routerLink]="['vision']">Visión</a>
        </li>
        <li routerLinkActive="active-item">
          <a [routerLink]="['valores']">Valores</a>
        </li>
        <li routerLinkActive="active-item">
          <a [routerLink]="['contact']">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
